<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="layout" id="new_form_page">
    
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name,{:class=>'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description,{:class=>'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.label :user%>
      <%= form.select :user_id, User.all.pluck(:name, :id), { prompt: 'Select' }, { class: "form-control" } %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>